<!DOCTYPE html>
<html>
<head>
    <title>Music Sofa | 音乐沙发</title>
    <link href="//dn-staticfile.qbox.me/twitter-bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="//dn-staticfile.qbox.me//twitter-bootstrap/3.3.0/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="//cdn.bootcss.com/select2/4.0.2/css/select2.min.css" rel="stylesheet"/>

    <link href="/static/css/style.css" rel="stylesheet"/>

</head>

<body>

<div class="container">

    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="/remote">Remote Player</a></li>
                <li role="presentation" class="active"><a href="/client">Client</a></li>
                <li role="presentation"><a href="#">Configuration</a></li>
                <li role="presentation"><a href="#">{{online_count}} 台设备在线</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Music Sofa | 音乐沙发</h3>
    </div>

    <div class="jumbotron">
        <h1 id="song-title"></h1>
        <p class="lead">
            <input id="keyword" type="text" >
            <button id="btn-search" type="button" class="btn btn-info" aria-label="Left Align">
                搜索
            </button>
            <button id="btn-play" type="button" class="btn btn-successful" aria-label="Left Align">
                播放
            </button>
        </p>
        <div>
            <select id="songs" multiple="multiple" style="width:80%;height:160px;">
            </select>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2015 Company, Inc.</p>
    </footer>

</div> <!-- /container -->
<script type="application/javascript" src="//dn-staticfile.qbox.me/jquery/2.1.1/jquery.min.js"></script>
<script type="application/javascript" src="//dn-staticfile.qbox.me/underscore.js/1.7.0/underscore-min.js"></script>
<script type="application/javascript" src="//dn-staticfile.qbox.me/twitter-bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/select2/4.0.2/js/select2.min.js"></script>

<script type="application/javascript">
    $(document).ready(function() {
        var listen_addr = "{{listen_addr}}";
        var listen_port = {{listen_port}};

        $('#btn-search').click(function () {
            $.ajax("http://" + listen_addr + ":" + listen_port + "/api/song/search" +
                   "?keyword=" + $('#keyword').val()
            ).done(function (trunk) {
                var songs = JSON.parse(trunk);
                $('#songs').html("");
                _.each(songs, function(song) {
                    var markup = "<option value='" + song.xiami_song_id + "'>" + song.title + 
                                 " - " + song.singers.join(" ") + "</option>";
                    $('#songs').html($('#songs').html() + markup);
                });
            })
        });

        $('#btn-play').click(function () {

            $.ajax("http://" + listen_addr + ":" + listen_port + "/api/song/play",
                   {
                       'method': 'PUT',
                       'data': 'song_id=' + $('#songs option:selected').val()
                   }).done(function(trunk) {
                var result = JSON.parse(trunk);
                alert(result.count + '台设备已经开始播放');
            });
        });
    })
</script>



</body>
</html>
