<!DOCTYPE html>
<html>
<head>
    <title>Music Sofa | 音乐沙发</title>
    <link href="//dn-staticfile.qbox.me/twitter-bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="//dn-staticfile.qbox.me//twitter-bootstrap/3.3.0/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="//cdn.bootcss.com/select2/4.0.0/css/select2.min.css" rel="stylesheet"/>

    <link href="/static/css/style.css" rel="stylesheet"/>

</head>

<body role="document">

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/remote">Remote Player</a></li>
                <li role="presentation"><a href="/client">Client</a></li>
                <li role="presentation"><a href="#">Configuration</a></li>
                <li role="presentation"><a href="#">{{online_count}} 台设备在线</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Music Sofa | 音乐沙发</h3>
    </div>

    <div class="jumbotron">
        <h1 id="song-title">...</h1>
        <p class="lead">
        <div>
        <audio controls id="player" autoplay="autoplay" loop="loop">
            <source id="player-source" type="audio/mp3" />
        </audio>
        </div>
        <!--<button type="button" class="btn btn-lg btn-success" aria-label="Left Align">-->
        <!--<span class="glyphicon glyphicon glyphicon-play" aria-hidden="true"></span>-->
        <!--</button>-->
        <!--<button id="btn-forward" type="button" class="btn btn-lg btn-info" aria-label="Left Align">-->
            <!--<span class="glyphicon glyphicon glyphicon-forward " aria-hidden="true"></span>-->
        <!--</button>-->
        <img id="image" src="http://img.xiami.net/images/album/img20/509729620/10097296331409729633_2.jpg">
        </p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Wherever I Go</h4>
            <p>OneRepublic</p>

            <h4>一半MV</h4>
            <p>薛之谦</p>

            <h4>I Took A Pill In Ibiza (SeeB Remix)MV</h4>
            <p>SeeB/Mike Posner</p>
        </div>

        <div class="col-lg-6">
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2015 Company, Inc.</p>
    </footer>

</div> <!-- /container -->
<script type="application/javascript" src="//dn-staticfile.qbox.me/jquery/2.1.1/jquery.min.js"></script>
<script type="application/javascript" src="//dn-staticfile.qbox.me/underscore.js/1.7.0/underscore-min.js"></script>
<script type="application/javascript" src="//dn-staticfile.qbox.me/twitter-bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/select2/4.0.0/js/select2.min.js"></script>

<script type="application/javascript">
    $(document).ready(function() {
        
        var listen_addr = "{{listen_addr}}";
        var listen_port = {{listen_port}};
        function connect() {
            var ws = new WebSocket("ws://" + listen_addr + ":" + listen_port + "/ws/remote");
            ws.onopen = function() {
            };
            ws.onmessage = function (evt) {
                console.log(evt.data);
                var command = JSON.parse(evt.data);
                if (command.action === 'play') {
                    $('#player-source').prop('src',  command.params.song.play_link);
                    $('#player')[0].load();
                    $('#player')[0].play();
                    $('#image').prop('src', command.params.song.image);
                    $('#song-title').text(command.params.song.title + ' - '
                                          + command.params.song.singers.join(' '));
                }
            };
            ws.onclose = function(e) {
                console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
                setTimeout(function() {
                    connect();
                }, 1000)
            };
        }
        connect();
    })
</script>



</body>
</html>
